<div class="container">
  <div class="main-img-container">
    <h1>Find Waldo and Odlaw</h1>
    <h2>00:00:00</h2>
    <div class="img-wrapper">
      <%= image_tag("waldo1.jpg") %>
    </div>
  </div>
  <h2 class="highscores">High Scores</h2>
  <div class="scores">
    <table class="best-list">
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </table>
  </div>
</div>
<div class="login">
  <h2>Please enter your name<h2>
  <%= form_tag do %>
    <%= text_field_tag "username" %>
    <%= submit_tag "Confirm", :id => "submit" %>
  <% end %>
</div>
<div class="foundIt">
</div>
