<!DOCTYPE html>
<html>
  <head>
    <title>TaggingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <h1>Tagging App</h1>
    </div>
    <%= yield %>
    <div class="footer">
    </div>
  </body>
</html>
