$main-font: 'Bitter', serif;
@mixin red-gradient() {
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

html, body {
  margin: 0;
  padding: 0;
}

*,*::after,*::before {
  box-sizing: border-box;
}
.header {
  height: 120px;
  @include red-gradient();
  box-shadow: 0 6px 9px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 6px 9px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0 6px 9px -4px rgba(0,0,0,0.75);
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  h1 {
    color: rgb(255,255,255);
    margin: 0;
    font-size: 40px;
    font-family: $main-font;
    letter-spacing: 1.5px;
  }
}

.footer {
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
  margin-top: 45px;
  bottom: 0;
  height: 90px;
  width: 100%;
  @include red-gradient();
}

.container {
  width: 80%;
  margin: auto;
}

.main-img-container {
  text-align: center;
  position:relative;
  img {
    height: 600px;
    width: 900px;
  }
  h1 {
    font-family: $main-font;
  }
}
