<!DOCTYPE html>
<html>
  <head>
    <title>TaggingApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <h1>Tagging App</h1>
    </header>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
</html>
